IaCPipelineDemo/IaCPipelineDemo/Properties/serviceDependencies.json
IaCPipelineDemo/IaCPipelineDemo/Properties/serviceDependencies.local.json
IaCPipelineDemo/.vs/IaCPipelineDemo/config/applicationhost.config